In [1]:
print('Hello Student!')

Hello Student!

In [17]:
name = input()
math = int(input())
english = int(input())
science = int(input())

 Ashraf
 85
 78
 92

In [19]:
Student = {'name': name, 'math': math, 'english': english, 'science': science}

In [21]:
print(Student)

{'name': 'Ashraf', 'math': 85, 'english': 78, 'science': 92}

In [23]:
print(Student['name'])

Ashraf

In [25]:
print(Student['math'])

85

In [27]:
StudentData = []
while 1:
    Name = input()
    if(Name == '-1'):
        break
    Math = int(input())
    if(Name == -1):
        break
    English = int(input())
    if(Name == -1):
        break
    Science = int(input())
    if(Name == -1):
        break
    else:
        student = {'name': Name, 'Math': Math, 'English': English, 'Science': Science}
        StudentData.append(student)
print(StudentData)
print(len(StudentData))

 Ashraf
 85
 78
 92
 Nusrat
 90
 88
 80
 Sakib
 70
 60
 75
 -1

[{'name': 'Ashraf', 'Math': 85, 'English': 78, 'Science': 92}, {'name': 'Nusrat', 'Math': 90, 'English': 88, 'Science': 80}, {'name': 'Sakib', 'Math': 70, 'English': 60, 'Science': 75}]
3

In [29]:
total = []
name = []
for i in range(0, len(StudentData)):
    StudentData[i]['total'] = StudentData[i]['Math']+StudentData[i]['English']+StudentData[i]['Science']
    print(StudentData[i]['name'], StudentData[i]['total'])
    total.append(StudentData[i]['total'])
    name.append(StudentData[i]['name'])

Ashraf 255
Nusrat 258
Sakib 205

In [31]:
name

['Ashraf', 'Nusrat', 'Sakib']

In [33]:
for i in range(0, len(StudentData)):
    if(StudentData[i]['total'] == max(total)):
        print('Topper:',StudentData[i]['name'],'with', StudentData[i]['total'],'marks')
        break

Topper: Nusrat with 258 marks

In [37]:
maximum = 0
student = ''
for i in range(0, len(StudentData)):
    print('------Report Card-------')
    print('Name:', StudentData[i]['name'])
    print('Name:', StudentData[i]['Math'])
    print('Name:', StudentData[i]['English'])
    print('Name:', StudentData[i]['Science'])
    print('Name:', StudentData[i]['total'])
    print('-------------')
    print('\n')
    total = StudentData[i]['total']
    if total > maximum:
        maximum = total
        student = StudentData[i]['name']
print('Overall Topper ->', student,'with', maximum)

------Report Card-------
Name: Ashraf
Name: 85
Name: 78
Name: 92
Name: 255
-------------


------Report Card-------
Name: Nusrat
Name: 90
Name: 88
Name: 80
Name: 258
-------------


------Report Card-------
Name: Sakib
Name: 70
Name: 60
Name: 75
Name: 205
-------------


Overall Topper -> Nusrat with 258