In [444]:
arr = []

In [462]:
category = input()
amount = int(input())
dict = {'category': category, 'amount': amount}

 Rent
 8000

In [464]:
arr.append(dict)
arr

[{'category': 'Food', 'amount': 2500},
 {'category': 'Transport', 'amount': 1200},
 {'category': 'Shopping', 'amount': 3000},
 {'category': 'Food', 'amount': 1500},
 {'category': 'Rent', 'amount': 8000}]

In [466]:
total_expenses = 0
for i in range(0, len(arr)):
    total_expenses = total_expenses + arr[i]['amount']
print(total_expenses)

16200

In [468]:
category = []
for i in range(0, len(arr)):
    if arr[i]['category'] not in category:
        category.append(arr[i]['category'])
print(category)

['Food', 'Transport', 'Shopping', 'Rent']

In [470]:
individual_category = {}
for item in arr:
    category = item['category']
    amount = item['amount']
    if category in individual_category:
        individual_category[category] += amount
    else:
        individual_category[category] = amount
print("Category wise expense : ", individual_category)

Category wise expense :  {'Food': 4000, 'Transport': 1200, 'Shopping': 3000, 'Rent': 8000}

In [474]:
income = int(input())
savings = income - total_expenses
if(savings < 0):
    print('loss-> ',abs(savings))
elif(savings == 0):
    print('nothing->', savings)
elif(savings > 0):
    print('savings->', savings)

 30000

savings-> 13800

In [484]:
highest_expense = max(individual_category.values())
highest_expense

8000

In [518]:
individual_category.keys()

dict_keys(['Food', 'Transport', 'Shopping', 'Rent'])

In [542]:
for i in individual_category:
    if highest_expense == individual_category[i]:
        highest_category = i
        break
print(highest_category)

Rent

In [548]:
print('highest category - ', highest_category,', expense -', highest_expense)

highest category -  Rent , expense - 8000